<template>
<div class="wrapper">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-8 cal-list">
                <h1>FOSS Events Calendar</h1>
            </div>
            <div class="col-md-4">
                <select value="Organizations"></select>
            </div>
        </div>
    </div>

    <div class="list container rounded p-4 mt-5">
        
        <div class="row">
            <div class="col-md-11">
                <p><span class="month-name">January</span></p>
            <hr>
            </div>
        </div>
        <div v-for="content in contents">
        <div  v-if="content.mon ==='Jan'" class="m-3 row">
            <div  class="col-md-1">
              <span id="date">{{content.date}}</span></p>
            </div>
        
            <div id="event" class="col-md-3">
            {{content.title}}
            </div>

            <div id="disc" class="col-md-7">
            {{content.disc}}
            </div>
            
        </div>
        </div>


        <div class="row">
            <div class="col-md-11">
                <p><span class="month-name">February</span></p>
            <hr>
            </div>
        </div>
        <div v-for="content in contents">
        <div  v-if="content.mon ==='Feb'" class="m-3 row">
            <div  class="col-md-1">
              <span id="date">{{content.date}}</span></p>
            </div>
        
            <div id="event" class="col-md-3">
            {{content.title}}
            </div>

            <div id="disc" class="col-md-7">
            {{content.disc}}
            </div>
            
        </div>
        </div>


  <div class="row">
            <div class="col-md-11">
                <p><span class="month-name">March</span></p>
            <hr>
            </div>
        </div>
        <div v-for="content in contents">
        <div  v-if="content.mon ==='Mar'" class="m-3 row">
            <div  class="col-md-1">
              <span id="date">{{content.date}}</span></p>
            </div>
        
            <div id="event" class="col-md-3">
            {{content.title}}
            </div>

            <div id="disc" class="col-md-7">
            {{content.disc}}
            </div>
            
        </div>
        </div>
    </div>

</div>

</template>

<script>
import axios from 'axios';
export default {
    name: 'calendar',
    data() {
        return{
            contents: [
                {
                    mon: "Jan",
                    date: "01",
                    title: "Something",
                    disc: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
                },
                {
                    mon: "Feb",
                    date: "12",
                    title: "Something",
                    disc: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
                },
                {
                    mon: "Mar",
                    date: "20",
                    title: "Something",
                    disc: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
                }
            ],
            

            sortedContent: []
        }
    },
     computed:{ //it is  a computed
         sorting: function() {
             this.content.push({

             })
         }
     }
}
</script>

<style scoped>
.wrapper > .list {
    background-color: white;
}
#date{
    font-size: 35px;
    color: rgb(40, 40, 65);
}
.month-name{
    font-size: 24px;
    font-weight: bold;
    color: crimson;

}
#date > p{
    margin: 0px;
}
#event{
 font-weight: bold;
 font-size: 18px;
}
#disc{

}
</style>

